#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "emoncms"
name = "Emoncms"
description.en = "Processing, logging and visualising energy, temperature and other environmental data"
description.fr = "Traitement enregistrement et la visualisation de l'énergie, de la température et d'autres données environnementales"

version = "11.9.8~ynh1"

maintainers = []

[upstream]
license = "GPL-3.0-only"
website = "https://emoncms.org/"
admindoc = "https://guide.openenergymonitor.org/"
code = "https://github.com/emoncms/emoncms"

[integration]
yunohost = ">= 11.2.30"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

[resources]
    [resources.sources]
    [resources.sources.main]
    url = "https://github.com/emoncms/emoncms/archive/refs/tags/11.9.8.tar.gz"
    sha256 = "51d2e15278a3b38417d713010b8488e32b81689b8a8a3ec621128e8c7ab789c8"
    autoupdate.strategy = "latest_github_tag"
    autoupdate.asset = "tarball"

    [resources.sources.graph]
    url = "https://github.com/emoncms/emoncms/archive/refs/tags/11.9.8.tar.gz"
    sha256 = "51d2e15278a3b38417d713010b8488e32b81689b8a8a3ec621128e8c7ab789c8"
    in_subdir = false
    autoupdate.strategy = "latest_github_tag"
    autoupdate.asset = "tarball"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "mariadb-server",
        "php8.3-fpm",
        "php8.3-redis",
        "php8.3-mysql",
    ]

    [resources.database]
    type = "mysql"
